.vscode/
.idea/
.vs/
.fleet/
.cr/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
nupkg/
.DS_Store

*.swp
*.*~
project.lock.json
*.pyc
*.suo
*.user
*.userosscache
*.sln.docstates

*.uss
